.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln　　　
.mvn　　　　
.iml
mvnw
mvnw.cmd
logs/
target/

.project
.settings
.classpath


/client/npm-debug.log*
/server/npm-debug.log*
/client/yarn-debug.log*
/server/yarn-debug.log*
/client/yarn-error.log*
/server/yarn-error.log*
/client/package-lock.json
/server/package-lock.json

/client/node_modules/
/server/node_modules/
/client/build/
/admin/dist/

.DS_Store
node_modules/
dist/
